<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>魔法图书馆</title>

    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="container" id="root">
        <div class="container" id="aside">
            <div id="search-box">
                <input type="text" id="search-input" />
            </div>
            <div id="article-container">

            </div>
        </div>
        <div class="container" id="main"></div>
    </div>
</body>
</html>