<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>魔法图书馆</title>

    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/themes/github.css}">

    <script th:src="@{/js/font.js}"></script>
    <script th:src="@{/js/drag.js}"></script>
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="root box">
    <div class="shelf">
        <section class="article" th:id="'article_' + ${item.id}" th:each="item,iterStat:${articles}" draggable="true" ondragstart="drag(event)" th:data-id="${item.id}" th:data-title="${item.title}" th:data-content="${item.content}">
            <h1 class="vertical-text" th:text="${item.title}"></h1>
            <p th:text="${item.content}"></p>
        </section>
    </div>
    <div class="view">
        <article class="ArticleViewBox" id="ArticleViewBox" ondrop="javascript:drop(event)" ondragover="javascript:allowDrop(event)"></article>
    </div>
</div>
</body>
</html>